@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main {
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.products__top {
  padding: 20px 0;
}

.inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputs__item {
  font-size: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 10px 0 0;
}

.inputs__item:last-child {
  margin: 0;
}

.inputs__submit {
  background-color: #ffc400;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.bot {
  font-size: 16px;
}

.bot__title {
  margin: 0 auto 20px auto;
}

.bot__items {
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 10px 0;
}

.bot__allsum {
  text-align: center;
  font-size: 16px;
}

.bot__allsum p {
  display: inline-block;
  font-weight: 700;
}

.items__item {
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.output__line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 10px 0;
}

.output__item {
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.output__item_button {
  font-size: 16px;
  color: red;
  background-color: transparent;
  border-radius: 5px;
}

.output__item_button:hover {
  text-decoration: underline;
}

.line {
  width: 95%;
  height: 4px;
  border-radius: 10px;
  background-color: #d1d1d1;
}

.line_s {
  width: 20%;
  margin: 10px auto;
}

.bot__allsum._hide {
  display: none;
}

.edit__input {
  width: 80%;
  border: 1px dashed black;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  color: gray;
}
