// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); //font-family: 'Roboto', sans-serif;
//SCSS
.main {
    font-family: 'Roboto', sans-serif;
    
}
.content {
    max-width: 800px;
    margin: 0 auto;
}
.products {

		&__content {
            
		}

		&__top {
            padding: 20px 0;
		}

		&__bot {
		}
}
.top {
		&__content {
		}

		&__inputs {
		}
}
.inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
		&__item {
            font-size: 16px;
            border: 1px solid rgb(209, 209, 209);
            border-radius: 3px;
            padding: 5px 10px;
            margin: 0 10px 0 0;
            &:last-child{
                margin: 0;
            }
		}

		&__submit {
            background-color: rgb(255, 196, 0);
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
		}
}
.bot {
    font-size: 16px;
		&__content {
		}

		&__title {
            // font-size: 20px;
            // text-align: center;
            margin: 0 auto 20px auto;
		}

		&__items {
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 0 10px 0;
		}

		&__output {
		}

        &__allsum{
            text-align: center;
            font-size: 16px;
            p{
                display: inline-block;
                font-weight: 700;
            }
        }
}
.items {
		&__item {
            width: 100%;
            text-align: center;
            line-height: 30px;
		}
}
.output {
		&__line {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 0 10px 0;
		}

		&__item {
            width: 100%;
            text-align: center;
            line-height: 30px;
		}
}
.output__item_button{
    font-size: 16px;
    color: red;
    background-color: transparent;
    border-radius: 5px;
    &:hover{
        text-decoration: underline;
    }
}
.line{
    width: 95%;
    height: 4px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    &_s{
        width: 20%;
        margin: 10px auto;
    }
}

.bot__allsum._hide{
    display: none;
}

.edit__input{
    width: 80%;
    border: 1px dashed black;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    color: rgb(128, 128, 128);
}